@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$color1: #FD2D01
;
$black1: rgb(33, 32, 32);
$black2: #4E5166;
$black3: rgb(70, 70, 70);
$white: rgb(207, 207, 207);
$grey: rgb(95, 95, 95);
$shadow: 0 3px 20px rgba(0, 0, 0, 0.356);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: $black2;
  color: $white;
}
.logo {
      height: 200px;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #FFD7D7;
     margin-bottom: 150px;
}
.logo img {
  border-radius: 50%;
  z-index: 2;
  position: relative;
  top: 100px;
 
}

button,
input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  background: $color1;
  transition: 0.2s;

  &:hover {
    filter: brightness(80%);
    transform: translateX(2px);
  }
}

input,
textarea {
  border-radius: 7px;
  border: none;
  resize: none;
  margin: 5px;
  padding: 8px;
  background: $white;
  color: black;
}
